.movie-card {
	border-bottom: 1px solid $palette-primary-light;
	clear: both;
	list-style: none;
	margin-bottom: 40px;
	padding-bottom: 20px;
}

.movie-card__img,
.movie-card__info {
	float: left;
	width: 100%;
}

.movie-card__img {
	height: 300px;
	object-fit: cover;
}

.movie-card__genre {
	padding-left: 5px;
}

@media screen and (min-width: 768px) {
	.movie-card {
		margin-bottom: 20px;
	}

	.movie-card__img,
	.movie-card__info {
		width: 50%;
	}

	.movie-card__img {
		max-width: 200px;
	}

	.movie-card__info {
		padding-left: 20px;
	}
}
