.btn {
	background: $palette-secondary;
	border: 1px solid $palette-primary;
	color: $palette-primary;
	display: block;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	height: 43px;
	margin: 20px 0;
	padding: 8px 12px;
	transition: background-color $transition-quick;

	&:hover {
		background: $palette-primary-light;
		cursor: pointer;
	}
}

.btn--primary {
	background: $palette-primary;
	color: $palette-secondary;

	&:hover {
		background: $palette-primary-shade;
	}
}
