body {
	color: $palette-paragraph;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.container {
	margin: 0 20px;
}

@media screen and (min-width: 768px) {
	.container {
		margin: 0 auto;
		max-width: 728px;
	}
}
