
.filters {
	border: 1px solid $palette-primary-light;
	padding: 15px;
}

.filter-control__label {
	display: block;
	margin-bottom: 10px;
}

.filter-control--genre {
	.true__placeholder {
		color: $palette-paragraph;
	}
}

@media screen and (min-width: 768px) {
	.filter-control {
		float: left;
	}

	.filter-control--rating {
		width: 50%;

		.rc-slider {
			margin-top: 20px;
		}
	}

	.filter-control__label {
		margin-bottom: 7px;
		margin-top: 0;
	}

	.filter-control--genre {
		margin-right: 5%;
		width: 45%;
	}
}
