$palette-primary: #2f4073;
$palette-primary-light: rgba($palette-primary, 0.15);
$palette-primary-shade: rgba($palette-primary, 0.9);
$palette-secondary: #edf0f5;
$palette-paragraph: #191919;

$transition-quick: 0.2s;
